/* Button color-designs */

.btn.blue {
    border: none;
    border-color: rgb(55, 84, 139);
    border-radius: 4px;
    background-color: rgb(11, 112, 207);
    color: #000;
    font-size: 22px;
    height: auto;
    width: auto;
    outline: none;
    transition: ease-out 0.3s;
}

.btn.blue:hover {
    cursor: pointer;
    color: #fff;
}

.btn.blue:active {
    transition: none;
    background-color: rgb(55, 84, 139);
}

.btn.gray {
    border: none;
    border-color: rgb(75, 75, 75);
    border-radius: 4px;
    background-color: rgb(129, 129, 129);
    color: #000;
    font-size: 22px;
    height: auto;
    width: auto;
    outline: none;
    transition: ease-out 0.3s;
}

.btn.gray:hover {
    cursor: pointer;
    color: #fff;
}

.btn.gray:active {
    transition: none;
    background-color: rgb(75, 75, 75);
}

.btn.green {
    border: none;
    border-color: rgb(111, 175, 92);
    border-radius: 4px;
    background-color: rgb(57, 207, 11);
    color: #000;
    font-size: 22px;
    height: auto;
    width: auto;
    outline: none;
    transition: ease-out 0.3s;
}

.btn.green:hover {
    cursor: pointer;
    color: #fff;
}

.btn.green:active {
    transition: none;
    background-color: rgb(111, 175, 92);
}

.btn.red {
    border: none;
    border-color: #f0a8af;
    border-radius: 4px;
    background-color: #d53343;
    color: #000;
    font-size: 22px;
    height: auto;
    width: auto;
    outline: none;
    transition: ease-out 0.3s;
}

.btn.red:hover {
    cursor: pointer;
    color: #fff;
}

.btn.red:active {
    transition: none;
    background-color: #f0a8af;
}

.btn.yellow {
    border: none;
    border-color: #ffc107;
    border-radius: 4px;
    background-color: #ffc107;
    color: #000;
    font-size: 22px;
    height: auto;
    width: auto;
    outline: none;
    transition: ease-out 0.3s;
}

.btn.yellow:hover {
    cursor: pointer;
    color: #fff;
}

.btn.yellow:active {
    transition: none;
    background-color: #ecd182;
}

/* ------------------------------------
Button animation designs */

.zoomonhover:hover {
    width: auto;
    height: auto;
    font-size: 30px;
}

/* ------------------------------------
Button designs */



/* ------------------------------------
Blur effects */

.blur.onepx {
    filter: blur(1px);
}

.blur.twopx {
    filter: blur(2px);
}

.blur.threepx {
    filter: blur(3px);
}

.blur.fourpx {
    filter: blur(4px);
}

.blur.fivepx {
    filter: blur(5px);
}

/* ------------------------------------
Misc */

.darkmode { /* Dark mode */
    background-color: #282c34;
}

.header { /* Cool preset header design */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header.center { /* Preset header design center plugin */
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header.dark { /* Preset header design dark plugin */
    background-color: #282c34;
}